@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #374754; 
    font: 400 28px "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.4;
    letter-spacing: 0.2px;
    background-color: #fff;
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
textarea {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #18171d;
    resize: none;
}
button {
    display: block;
    border: none;
    font: inherit;
    background-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}
.button-primary {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
    border-radius: 35px;
    color: #fff;
    background-color: #2091F9;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 10px;
}
.section-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1;
    color: #252b42;
}
/* 
Banner 
*/
.banner-wrapper {
    padding-top: 39px;
    background: url(img/banner-bg.png) no-repeat bottom;
    background-size: cover;
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 5px;
    padding: 0 90px;
}
.nav-main {
    display: flex;
    justify-content: space-between;
}
.nav-main__list {
    display: flex;
    justify-content: space-between;
    gap: 41px;
} 
.nav-main__link {
    font-size: 15px;
}
.header__logo {
    width: 206px;
    height: 78px;
    margin: 0 auto 0 45px;
}
.social {
    display: flex;
    gap: 24px;
}
.social__link {
    display: block;
    width: 41px;
    height: 41px;
}
.banner-section {
    padding-top: 165px;     
}
.banner {
    max-width: 766px;
    margin: 0 auto;
}
.banner-section__title {
    font-weight: 700;
    font-size: 74px;
    line-height: 1.1;  
    color: #fff;
}
.banner__text {
    font-size: 28px;
    line-height: 1.4;
    padding-bottom: 80px;
}
.button-primary_banner {
    padding: 16px 62px;
    margin-bottom: 243px;
}
/* 
Features 
*/
.features-section {
    padding-top: 126px;
}
.features-section__title {
    padding-bottom: 27px;
}
.features__text {
    display: inline-block;
    max-width: 535px;
    padding-bottom: 90px;
}
.features-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    max-width: 869px;
    margin: 0 auto;
    padding-bottom: 132px;
}
.features-card {
    max-width: 231px;
}
.features-card__icon {
    padding-bottom: 20px;
}
.features-card__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252b42;
    padding-bottom: 20px;
}
.features-card__text {
    font-size: 18px;
    line-height: 1.4;
}
.video-wrapper {
    position: relative;
    padding-bottom: 340px;
}
.video__img {
    border-radius: 45px;
    box-shadow: 0 8px 63px 0 rgba(0, 0, 0, 0.15);
}
.video-button {
    position: absolute;
    max-width: 187px;
    max-height: 187px;
    top: 23%;
    right: 43%;
}
/* 
Fastest 
*/
.fastest-wrapper {
    display: flex;
    justify-content: center;
    gap: 68px;
    align-items: center;
    text-align: left;
    padding-bottom: 442px;
}
.fastest {
    max-width: 530px;
}
.section-title_fastest {
    max-width: 335px;
    padding-bottom: 27px;
}
.fastests__text {
    padding-bottom: 70px;
}
.button-primary_fastest {
    padding: 16px 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
}
.fastest__img {
    width: 625px;
    height: 350px;
    background: url(img/fastest.png) no-repeat;
    background-size: contain;
}
/* 
Newsletter 
*/
.newsletter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    text-align: left;
    padding-bottom: 182px;
    padding-left: 54px;
}
.newsletter__img {
    width: 677px;
    height: 514px;
    background: url(img/newsletter.png) no-repeat;
    background-size: contain;
}
.newsletter-subtitle {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #252b42;
}
.newsletter-subtitle_top {
    padding-bottom: 17px;
}
.section-title_newsletter {
    max-width: 325px;
    padding-bottom: 35px;
}
.newsletter__text {
    display: inline-block;
    font-size: 18px;
    line-height: 1.4;
}
.newsletter-form__input {
    width: 273px;
    height: 54px;
    padding: 19px 39px;
    background: #f4f4f4;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    margin-top: 36px;
}
.newsletter-form__input::placeholder {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #18171d;
}
.newsletter-form__button {
    display: inline-block;
    padding: 19px 38px;
}
/* 
Partners 
*/
.partners-section {
    padding-bottom: 190px;
}
.partners-section__title {
    padding-bottom: 27px;
}
.partners__text {
    display: inline-block;
    max-width: 530px;
    padding-bottom: 90px;
} 
.partners-card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
.partners-card {
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border: 1px solid #d8d8d8;
}
.card__inner {
    margin: auto;
}
.partners-card__text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    padding-bottom: 15px;
}
/* 
Testimonials 
*/
.testimonials-section {
    padding-bottom: 100px;
}
.testimonials-section__title {
    padding-bottom: 90px;
}
.testimonials-logo {
    padding-bottom: 60px;
}
.testimonials__text {
    display: block;
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.testimonials-card {
    display: flex;
    justify-content: center;
    gap: 13px;
    padding-bottom: 80px;
}
.testimonials-card__img {
    width: 50px;
    height: 50px;
}
.testimonials-card__text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    max-width: 125px;
    text-align: left;
}
/* 
Pricing 
*/
.pricing-section {
    background-color: #252b42;
    padding-top: 110px;
    padding-bottom: 100px;
}
.section-title_pricing {
    color: #fff;
    padding-bottom: 27px;
}
.pricing__text {
    display: inline-block;
    width: 530px;
    color: #fff;
    padding-bottom: 90px;
}
.pricing-card-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1105px;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}
.pricing-card {
    width: 335px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.pricing-card_center {
    padding: 83px 40px;
    background: #2090f8;
    /* color: #fff; */
}
.pricing-card__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #252b42;
    text-transform: uppercase;
    padding-bottom: 3px;
}
.pricing-card__title_center {
    color: #fff;
}
.pricing-card__text {
    display: inline-block;
    width: 150px;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    padding-bottom: 18px;
}
.pricing-card__text_center {
    color: #fff;
}
.price-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 40px;
}
.price {
    font-weight: 700;
    font-size: 74px;
    line-height: 1;
    color: #252b42;
}
.price_center {
    color: #fff;
}
.price-inner-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price__text_bold {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #252b42;
}
.price__text_bold_center {
    color: #fff;
}
.price__text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
}
.pricing-feature-wrapper {
    padding-bottom: 40px;
}
.pricing-feature__text {
    font-size: 15px;
    line-height: 1.8;
    color: #252b42;
    padding-bottom: 20px;
}
.pricing-feature__text_center {
    color: #fff;
}
.price__text_center {
    color: #fff;
}
.pricing-feature__text:last-child {
    padding-bottom: 0;
}
.button-primary_pricing {

display: block;
    width: 100%;
    padding: 18px 0px;
    font-size: 20px;
    line-height: 1;
}
.button-primary_pricing_center {
    color: #2090f8;
    background-color: #fff;
}
/* 
Contact Us 
*/
.contact-section {
    padding-top: 213px;
    padding-bottom: 102px;
}
.contact-section__title {
    padding-bottom: 27px;
}
.contact-section__text {
    display: inline-block;
    max-width: 550px;
    padding-bottom: 60px;
}
.contact-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
}
.contact-form-wrapper {
    max-width: 453px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 52px 50px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.contact-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    text-align: left;
    color: #252b42;
}
.contact-form__input {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.1px;
    color: #18171d;
    padding: 19px 20px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
}
.contact-form__input::placeholder {
    color: #18171d;
  }
  .contact-form__note {
    width: 353px;
    height: 193px;
    padding: 23px 20px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #18171d;
  }
  .contact-form__note::placeholder {
    color: #18171d;
  }
  .button-primary_contact {
    padding: 18px 38px;
    line-height: 1;
    width: 145px;
  }
  .contact-info-wrapper {
    padding-top: 28px;
  }
.contact-info-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info__icon {
    display: inline-block;
    padding-bottom: 20px;
}
.contact-info__text {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
}
.contact-info_poi {
    flex-basis: 35%;
}
.contact-info_phone {
    flex-basis: 15%;
}
.contact-info_letter {
    flex-basis: 25%;
}
.contact-map {
    width: 516px;
    height: 323px;
    margin: 70px auto;
    border: 1px solid #dddddd;
}
.contact-social {
    display: flex;
    gap: 24px;
    text-align: start;
}
/* 
Footer 
*/
.footer-section {
    background-color: #252B42;
    padding-top: 150px;
    padding-bottom: 150px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 990px;
    margin: 0 auto;
}
.footer-nav-wrapper {
    width: 550px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
}
.footer-nav__title {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.footer-nav__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-nav__link {
    font-size: 15px;
    line-height: 1.8;
    color: #ffffff;
}
.footer-info-wrapper {
    text-align: left;
}
.footer-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-info_poi {
    padding-bottom: 16px;
}
.footer-info_phone {
    padding-bottom: 26px;
}
.footer-info__text {
    display: inline-block;
    font-size: 15px;
    line-height: 1.8;
    color: #ffffff;
}
.footer-social {
    display: flex;
    gap: 24px;
}
