@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_styled {
    color: #374754; 
    font: 400 28px "Roboto", Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
textarea {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #18171d;
    resize: none;
}
button {
    display: block;
    border: none;
    font: inherit;
    background-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}
.button-primary {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
    border-radius: 35px;
    color: #fff;
    background-color: #2091F9;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 10px;
}
.section-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1;
    color: #252b42;
}
.text_center {
    text-align: center;
}
.title_h1 {

}
.title_h2 {

}
.title_h2_mb12 {

}
.section_margin_bottom {

}
.bred {
    border: 1px solid red;
}
.bgreen {
    border: 1px solid green;
}
.bblue {
    border: 1px solid blue;
}
/* 
Topmenu 
*/
.topmenu {
    display: none;
}
.top-panel {
    display: none;
    justify-content: space-between;
    width: 100%;
    height: 78px;
    padding-top: 17px;
}
.mobile-menu {
    width: 40px;
    height: 40px;
}
/* 
Banner 
*/
.banner-wrapper {
    padding-top: 49px;
    background: url(img/banner-bg.jpg) no-repeat bottom;
    background-size: cover;
    margin-bottom: 63px;

}
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 5px;
    padding-left: 100px;
    padding-right: 90px;
}
.nav-main {
    display: flex;
    justify-content: space-between;
}
.nav-main__list {
    display: flex;
    justify-content: space-between;
    gap: 46px;
} 
.nav-main__link {
    font-size: 15px;
    color: #fff;
}
.header__logo {
    width: 186px;
    height: 58px;
    margin: 0 auto 0 41px;
}
.social {
    display: flex;
    gap: 24px;
}
.social__link {
    display: block;
    width: 41px;
    height: 41px;
}
.banner-section {
    position: relative;
    padding-top: 160px;     
}
.banner {
    max-width: 750px;
    margin: 0 auto;
}
.banner-section__title {
    font-weight: 700;
    font-size: 81px;
    line-height: 1;  
    color: #fff;
    margin-bottom: 35px;
}
.banner__text {
    color: #fff;
    font-size: 28px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    margin-bottom: 90px;
}
.button-primary_banner {
    padding: 16px 62px;
    margin-bottom: 243px;
}
.left-triange {
    /* position: absolute;
    bottom: 0;
    left: 0;
	border-bottom: 187px solid orange;
	border-right: 888px solid transparent; */
}
.right-triangle {

    /* position: absolute;
    bottom: 0;
    right: 0;
	border-bottom: 187px solid orange;
	border-left: 888px solid transparent; */
}
/* 
Features 
*/
.features-section {
    padding-top: 63px;
    margin-bottom: 330px;

}
.features-section__title {
    margin-bottom: 30px;
}
.features__text {
    display: inline-block;
    max-width: 540px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    margin-bottom: 90px;
}
.video-tutorial-mobile {
    display: none;
}
.features-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    max-width: 844px;
    margin: 0 auto;
    margin-bottom: 132px;
}
.features-card {
    max-width: 231px;
}
.features-card__icon {
    padding-bottom: 14px;
}
.features-card__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252b42;
    padding-bottom: 20px;
}
.features-card__text {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.02em;
}
.video-tutorial {
    position: relative;
    width: calc(100% - 40px - 40px);
    margin: 0 40px;
}
.video-tutorial__poster {
    border-radius: 45px;
    box-shadow: 0 8px 63px 0 rgba(0, 0, 0, 0.15);
}

.video-tutorial__button {
    position: absolute;
    width: 48px;
    height: 48px;
    padding: 93px;
    top: 50%;
    left: 50%;
    margin-top: -97px;
    margin-left: -91px;
    background: #2091F9;
    background-image: url(./img/video-button-icon.svg);
    background-repeat: no-repeat;
    background-position: 76px 69px;
    border-radius: 50%;
    transform: scale(1);
}
/* 
Fastest 
*/
.fastest-section {
    margin-bottom: 444px;
}
.fastest-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: left;
    max-width: 1225px;
    margin-left: 33px;
}
.fastest {
    max-width: 550px;
}
.section-title_fastest {
    max-width: 335px;
    padding-top: 6px;
    padding-bottom: 32px;
}
.fastest__text {
    padding-bottom: 70px;
    line-height: 1.4;
}
.button-primary_fastest {
    padding: 16px 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
}
.fastest__img {
    width: 625px;
    height: 350px;
    background: url(img/fastest.png) no-repeat;
    background-size: contain;
}
/* 
Newsletter 
*/
.newsletter-section {
    margin-bottom: 175px;
}
.newsletter-wrapper {
    justify-content: space-between;
    gap: 50px;
    text-align: left;
    padding-left: 54px;
}
.newsletter__img {
    display: inline-block;
    width: 677px;
    height: 514px;
    background: url(img/newsletter.png) no-repeat;
    background-size: contain;
}
.newsletter {
    display: inline-block;
    vertical-align: top;
    padding-left: 107px;
}
.newsletter-subtitle {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #252b42;
}
.newsletter-subtitle_top {
    padding-top: 76px;
    padding-bottom: 12px;
}
.section-title_newsletter {
    max-width: 325px;
    padding-bottom: 38px;
    line-height: 1.2;
}
.newsletter-mobile__img {
    display: none;
}
.newsletter-subtitle_center {
    padding-left: 10px;
    line-height: 1;
}
.newsletter__text {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    padding-left: 10px;
}
.newsletter-form__input {
    width: 273px;
    height: 54px;
    padding: 19px 39px;
    background: #f4f4f4;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    margin-top: 32px;
    margin-left: 10px;
}
.newsletter-form__input::placeholder {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #18171d;
}
.newsletter-form__button {
    display: inline-block;
    padding: 19px 38px;
}
/* 
Partners 
*/
.partners-section {
    margin-bottom: 191px;
}
.partners-section__title {
    padding-bottom: 29px;
}
.partners__text {
    display: inline-block;
    line-height: 1.4;
    max-width: 530px;
    padding-bottom: 95px;
} 
.partners-card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 77px;
}
.partners-card {
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 39px;
    border: 1px solid #d8d8d8;
}
.card__inner {
    margin: auto;
}
.partners-card__text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    padding-bottom: 15px;
}
/* 
Testimonials 
*/
.testimonials-section {
    margin-bottom: 100px;
}
.testimonials-section__title {
    margin-bottom: 91px;
}
.testimonials-logo {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.testimonials__text {
    display: inline-block;
    max-width: 940px;
    line-height: 1.4;
    margin-bottom: 64px;
}
.testimonials-card {
    display: flex;
    justify-content: center;
    gap: 13px;
    margin-bottom: 82px;
}
.testimonials-card__img {
    width: 50px;
    height: 50px;
}
.testimonials-card__text {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    max-width: 125px;
    text-align: left;
}
/* 
Pricing 
*/
.pricing-section {
    background-color: #252b42;
    padding-top: 110px;
    padding-bottom: 98px;
    margin-bottom: 213px;
}
.section-title_pricing {
    color: #fff;
    padding-bottom: 27px;
}
.pricing__text {
    display: inline-block;
    width: 530px;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 93px;
}
.pricing-card-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1105px;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}
.pricing-card {
    width: 335px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.pricing-card_center {
    padding: 86px 40px;
    background: #2090f8;
}
.pricing-card__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #252b42;
    text-transform: uppercase;
    padding-bottom: 3px;
}
.pricing-card__title_center {
    color: #fff;
}
.pricing-card__text {
    display: inline-block;
    width: 150px;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    padding-bottom: 22px;
}
.pricing-card__text_center {
    color: #fff;
}
.price-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 35px;
}
.price {
    font-weight: 700;
    font-size: 74px;
    line-height: 1;
    color: #252b42;
}
.price_center {
    color: #fff;
}
.price-inner-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price__text_bold {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #252b42;
}
.price__text_bold_center {
    color: #fff;
}
.price__text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
}
.pricing-feature-wrapper {
    padding-bottom: 40px;
}
.pricing-feature__text {
    font-size: 15px;
    line-height: 1.8;
    color: #252b42;
    padding-bottom: 21px;
}
.pricing-feature__text_center {
    color: #fff;
}
.price__text_center {
    color: #fff;
}
.pricing-feature__text:last-child {
    padding-bottom: 0;
}
.button-primary_pricing {

display: block;
    width: 100%;
    padding: 18px 0px;
    font-size: 20px;
    line-height: 1;
}
.button-primary_pricing_center {
    color: #2090f8;
    background-color: #fff;
}
/* 
Contact Us 
*/
.contact-section {
    margin-bottom: 100px;
}
.contact-section__title {
    margin-bottom: 29px;
}
.contact-section__text {
    display: block;
    max-width: 550px;
    margin: 0 auto 62px;
    line-height: 1.4;
}
.contact-wrapper {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 7px;
}
.contact-form {
    flex-shrink: 0;
    width: 453px;
    padding: 52px 50px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    text-align: left;
    margin-left: 41px;
}
.contact-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #252b42;
    margin-bottom: 42px;
}
.contact-form__input {
    width: 100%;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.1px;
    color: #18171d;
    padding: 19px 20px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    margin-bottom: 43px;
}
.contact-form__input::placeholder {
    color: #18171d;
  }
  .contact-form__message {
    width: 100%;
    padding: 23px 20px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    font-size: 15px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #18171d;
    margin-bottom: 33px;
  }
  .contact-form__message::placeholder {
    color: #18171d;
  }
  .button-primary_contact {
    padding: 18px 38px;
    width: 145px;
  }
  .contact-info-wrapper {
    padding-top: 28px;
  }
.contact-info-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info__icon {
    display: inline-block;
    padding-bottom: 20px;
}
.contact-info__text {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
}
.contact-info_poi {
    flex-basis: 35%;
}
.contact-info_phone {
    flex-basis: 15%;
}
.contact-info_letter {
    flex-basis: 25%;
}
.contact-map {
    width: 516px;
    height: 323px;
    margin: 70px auto;
    border: 1px solid #dddddd;
}
.contact-social {
    margin-left: 52px;
}
.contact-social__link {
    display: inline-block;
    margin-right: 16px;
}
/* 
Footer 
*/
.footer-section {
    background-color: #252B42;
    padding-top: 150px;
    padding-bottom: 150px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 990px;
    margin: 0 auto;
}
.footer-nav-wrapper {
    width: 550px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
}
.footer-nav__title {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 12px;
    margin-bottom: 17px;
}
.footer-nav__item {
    padding-bottom: 9px;
}
.footer-nav__link {
    font-size: 15px;
    line-height: 1.8;
    color: #ffffff;
}
.footer-info-wrapper {
    text-align: left;
    margin-right: 13px;
}
.footer-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-info_poi {
    padding-bottom: 16px;
}
.footer-info_phone {
    padding-bottom: 34px;
}
.footer-info__text {
    display: inline-block;
    font-size: 15px;
    line-height: 1.8;
    color: #ffffff;
}
.footer-social {
    display: flex;
    gap: 24px;
}
/* 
Mobile  
*/
@media only screen and (max-width: 768px) {
    .top-panel {
        display: inline-flex;
        align-items: center;
    }
    .topmenu {
        display: block;
        position: fixed;
        height: 100vh;
        z-index: 100;
        background-color: rgb(0, 0, 0, 0.8);
        width: 100vw;
        height: calc(100hw + 78px);
        padding: 16px;
        transition: margin-left 0.8s ease-in;
    }
    .topmenu.hide {
        margin-left: -100%;
    }
    .topmenu__item {
        display: block;
        padding-bottom: 10px;
    }
    .container {
        max-width: none;
        margin: 0 auto;
        padding: 0;
    }
    .banner-wrapper {
        padding: 0;
        margin-top: -88px;
        background: url(img/banner-bg-mobile.png) no-repeat bottom;
        background-size: cover;
    }
    .header {
        display: none;
    }
    .header__logo {
        margin: 0;
    }
    .banner-section {
        padding-top: 206px;
    }
    .banner-section__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 1.1;
        padding: 0 42px 27px;
    }
    .banner__text {
        padding: 0 75px 70px;
    }
    .features-section {
        padding-top: 110px;
        margin-bottom: 190px;
    }
    .features__text {
        padding: 0 76px 66px;
    }
    .video-tutorial-mobile {
        display: block;
        position: relative;
        width: calc(100% - 16px - 16px);
        margin: 0 16px 70px;
    }
    .video-tutorial-mobile__poster {
        border-radius: 15px;
        box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.15);    
    }
    .video-tutorial__button_mobile {
        transform: scale(0.33);
        margin-top: -96px;
    }
    .features-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 75px;
        margin-bottom: 0;
    }
    .video-tutorial {
        display: none;
    }
    .fastest-section {
        margin-bottom: 180px;
    }
    .fastest-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 65px;
        padding-bottom: 0;
        margin-left: 0;
    }
    .section-title_fastest {
        max-width: none;
        padding: 0 41px 27px;
    }
    .fastest__text {
        padding: 0 76px 70px;
    }
    .fastest__img {
        width: 379px;
        height: 212px;
    }
    .newsletter-wrapper {
        padding-left: 0;
    }
    .newsletter-section {

    }
    .newsletter__img {
        display: none;
    }
    .newsletter {
        padding-left: 0;
    }
    .newsletter-mobile__img {
        display: block;    
        width: 390px;
        height: 295px;
        background: url(img/newsletter-mobile.png) no-repeat;
        background-size: contain;
        margin-bottom: 90px;
    }
    .partners-card-wrapper {
        gap: 30px;
    }
    .partners-card:nth-child(n + 4) {
        display: none;
    }
    .pricing__text {
        width: auto;
    }
    .pricing-card-wrapper {
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .contact-wrapper {
        flex-direction: column;
    }
    .contact-map {
        display: none;
    }
    .contact-info-inner {
        flex-direction: column;
        align-items: start;
        order: 2
        ;
    }
    .contact-info {
        flex-direction: row;
    }
    .contact-form {
        order: 3;
        flex-shrink: 1;
        width: 358px;
        margin-left: 0;
    }

    .contact-info__icon {
        padding-bottom: 0;
    }
    .contact-info-wrapper {
        display: flex;
        flex-direction: column;
    }
    .contact-social {
        order: 1;
    }
    .footer-nav-wrapper {
        flex-direction: column;
        width: auto;
    }
    .footer-wrapper {
        flex-direction: column;
    }

}