@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_styled {
    color: #374754; 
    font: 400 28px "Roboto", Arial, Helvetica, sans-serif;
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
textarea {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #18171d;
    resize: none;
}
button {
    border: none;
    font: inherit;
    background-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}
.button-primary {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
    border-radius: 35px;
    color: #fff;
    background-color: #2091F9;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 10px;
}
.section-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1;
    color: #252b42;
}
.text_center {
    text-align: center;
}
.icon-42 {
    width: 42px;
    height: 42px;
}
.title_h1 {

}
.title_h2 {

}
.title_h2_mb12 {

}
.bred {
    border: 1px solid red;
}
.bgreen {
    border: 1px solid green;
}
.bblue {
    border: 1px solid blue;
}
/* 
Topmenu 
*/
.topmenu {
    display: none;
}
.top-panel {
    display: none;
    justify-content: space-between;
    width: 100%;
    height: 78px;
    padding-top: 17px;
}
.mobile-menu {
    width: 40px;
    height: 40px;
    z-index: 1;
}
/* 
Banner 
*/
.banner-wrapper {
    padding-top: 49px;
    background: url(img/banner-bg.jpg) no-repeat bottom;
    background-size: cover;
    margin-bottom: 126px;
}
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 5px;
    padding-left: 100px;
    padding-right: 90px;
}
.nav-main {
    display: flex;
    justify-content: space-between;
}
.nav-main__list {
    display: flex;
    justify-content: space-between;
    gap: 46px;
} 
.nav-main__link {
    font-size: 15px;
    color: #fff;
}
.header__logo {
    width: 186px;
    height: 58px;
    margin: 0 auto 0 41px;
}
.social {
    display: flex;
    gap: 24px;
}
.social__link {
    display: block;
}
.banner-section {
    position: relative;
    padding-top: 160px;     
}
.banner {
    max-width: 750px;
    margin: 0 auto;
}
.banner-section__title {
    font-weight: 700;
    font-size: 81px;
    line-height: 1;  
    color: #fff;
    margin-bottom: 35px;
}
.banner__text {
    color: #fff;
    font-size: 28px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    margin-bottom: 90px;
}
.button-primary_banner {
    padding: 16px 62px;
    margin-bottom: 243px;
}
.left-triangle {
    position: absolute;
    bottom: -1px;
    left: 0;
	border-bottom: 27vh solid #fff;
    border-right: 50vw solid transparent;

}
.right-triangle {

    position: absolute;
    bottom: -1px;
    right: 0;
    border-bottom: 27vh solid #fff;
    border-left: 50vw solid transparent;
}
/* 
Features 
*/
.features-section {
    margin-bottom: 330px;

}
.features-section__title {
    margin-bottom: 30px;
}
.features__text {
    display: inline-block;
    max-width: 540px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    margin-bottom: 90px;
}
.video-tutorial-mobile {
    display: none;
}
.features-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    max-width: 844px;
    margin: 0 auto;
    margin-bottom: 132px;
}
.features-card {
    max-width: 231px;
    padding-top: 81px;
}
.features-card_circle-square {
    background: url(./img/circle-square.svg) top no-repeat;
    background-size: 61px 61px;
}
.features-card_pencil {
    background: url(./img/pencil.svg) top no-repeat;
    background-size: 61px 61px;
}
.features-card_brush {
    background: url(./img/brush.svg) top no-repeat;
    background-size: 61px 61px;
}
.features-card__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #252b42;
    margin-bottom: 20px;
}
.features-card__text {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.02em;
}
.video-tutorial {
    position: relative;
    width: calc(100% - 40px - 40px);
    margin: 0 40px;
}
.video-tutorial__poster {
    border-radius: 45px;
    box-shadow: 0 8px 63px 0 rgba(0, 0, 0, 0.15);
}
.video-tutorial__button {
    position: absolute;
    width: 48px;
    height: 48px;
    padding: 93px;
    top: 50%;
    left: 50%;
    margin-top: -97px;
    margin-left: -91px;
    background: #2091F9;
    background-image: url(./img/video-button-icon.svg);
    background-repeat: no-repeat;
    background-position: 76px 69px;
    border-radius: 50%;
    transform: scale(1);
}
/* 
Fastest 
*/
.fastest-section {
    margin-bottom: 444px;
}
.fastest-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: left;
    max-width: 1225px;
    margin-left: 33px;
}
.fastest {
    max-width: 550px;
}
.fastest-section__title {
    max-width: 335px;
    margin-top: 6px;
    margin-bottom: 32px;
}
.fastest__text {
    margin-bottom: 70px;
    line-height: 1.4;
}
.button-primary_fastest {
    padding: 16px 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
}
.fastest__img {
    width: 624px;
    height: 350px;
    background: url(img/fastest.png) no-repeat;
    background-size: contain;
}
/* 
Newsletter 
*/
.newsletter-section {
    margin-bottom: 184px;
}
.newsletter {
    display: grid;
    grid-template-columns: 63% 37%;
    grid-template-rows: 257px 257px;
    justify-content: space-between;
    margin-left: 55px;
    margin-right: 7px;
}
.newsletter__img {
    grid-column: 1 / 2;
    grid-row: 1 /3;
    background: url(img/newsletter.png) no-repeat;
    background-size: contain;
}
.newsletter-inner-top {
    grid-column: 2 / 3;
    grid-row: 1 /2;
}
.newsletter-inner-bottom {
    grid-column: 2 / 3;
    grid-row: 2 /3;
}
.newsletter-subtitle {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #252b42;
}
.newsletter-subtitle_top {
    margin-top: 76px;
    margin-bottom: 12px;
}
.newsletter-section__title {
    max-width: 325px;
    line-height: 1.2;
}
.newsletter-subtitle_center {
    margin-top: 15px;
    margin-left: 10px;
    line-height: 1;
}
.newsletter__text {
    font-size: 18px;
    line-height: 1;
    margin-left: 10px;
}
.newsletter-form {
    margin-top: 28px;
    margin-left: 12px;
}
.newsletter-form__input {
    width: 273px;
    height: 54px;
    padding: 19px 39px;
    background: #f4f4f4;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
}
.newsletter-form__input::placeholder {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #18171d;
}
.newsletter-form__button {
    padding: 19px 38px;
}
/* 
Partners 
*/
.partners-section {
    margin-bottom: 191px;
}
.partners-section__title {
    margin-bottom: 29px;
}
.partners__text {
    display: inline-block;
    line-height: 1.4;
    max-width: 530px;
    margin-bottom: 95px;
} 
.partners-card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 77px;
}
.partners-card {
    height: 165px;
    width: 274px;
    border: 1px solid #d8d8d8;

}
.partners-card__text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    padding-top: 25px;
    padding-bottom: 15px;
}
.partners-cart__img-wrapper {
    display: flex;
    max-width: 230px;
    height: 78px;
    margin: auto;
}
.partners-cart__img {
    margin: auto;
}
/* 
Testimonials 
*/
.testimonials-section {
    margin-bottom: 100px;
}
.testimonials-section__title {
    margin-bottom: 91px;
}
.testimonials__icon {
    display: block;
    width: 152px;
    height: 62px;
    margin: 0 auto 58px;
}
.testimonials__text {
    display: inline-block;
    max-width: 940px;
    line-height: 1.4;
    margin-bottom: 64px;
}
.testimonials-card {
    display: flex;
    justify-content: center;
    gap: 13px;
    margin-bottom: 82px;
}
.testimonials-card__img-wrapper {
    width: 50px;
    height: 50px;
}
.testimonials-card__avatar {
    border-radius: 50%;
}
.testimonials-card__text {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    width: 130px;
    text-align: left;
}
/* 
Pricing 
*/
.pricing-section {
    background-color: #252b42;
    padding-top: 110px;
    padding-bottom: 98px;
    margin-bottom: 213px;
}
.pricing-section__title {
    color: #fff;
    margin-bottom: 27px;
}
.pricing__text {
    display: inline-block;
    width: 530px;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 93px;
}
.pricing-card-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1105px;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}
.pricing-card {
    width: calc(100%);
    padding: 40px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.pricing-card_center {
    padding: 86px 40px;
    background: #2090f8;
}
.pricing-card__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #252b42;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.pricing-card__title_center {
    color: #fff;
}
.pricing-card__text {
    display: inline-block;
    width: 150px;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    margin-bottom: 22px;
}
.pricing-card__text_center {
    color: #fff;
}
.price-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 35px;
}
.price {
    font-weight: 700;
    font-size: 74px;
    line-height: 1;
    color: #252b42;
}
.price_center {
    color: #fff;
}
.price-inner-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price__text_bold {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #252b42;
}
.price__text_bold_center {
    color: #fff;
}
.price__text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
}
.pricing-feature-wrapper {
    margin-bottom: 40px;
}
.pricing-feature__text {
    font-size: 15px;
    line-height: 1.8;
    color: #252b42;
    margin-bottom: 21px;
}
.pricing-feature__text_center {
    color: #fff;
}
.price__text_center {
    color: #fff;
}
.pricing-feature__text:last-child {
    margin-bottom: 0;
}
.button-primary_pricing {
    width: 100%;
    padding: 18px 0px;
    font-size: 20px;
    line-height: 1;
}
.button-primary_pricing_center {
    color: #2090f8;
    background-color: #fff;
}
/* 
Contact Us 
*/
.contact-section {
    margin-bottom: 100px;
}
.contact-section__title {
    margin-bottom: 29px;
}
.contact-section__text {
    display: block;
    max-width: 550px;
    margin: 0 auto 62px;
    line-height: 1.4;
}
.contact-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.contact-form {
    max-width: 453px;
    padding: 52px 50px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    text-align: left;
}
.contact-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #252b42;
    margin-bottom: 42px;
}
.contact-form__input {
    width: 100%;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.1px;
    color: #18171d;
    padding: 19px 20px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    margin-bottom: 43px;
}
.contact-form__input::placeholder {
    color: #18171d;
  }
  .contact-form__message {
    width: 100%;
    padding: 23px 20px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    font-size: 15px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #18171d;
    margin-bottom: 33px;
  }
  .contact-form__message::placeholder {
    color: #18171d;
  }
  .button-primary_contact {
    padding: 18px 38px;
    width: 145px;
  }
  .contact-info-wrapper {
    max-width: 725px;
    margin-top: 28px;
  }
.contact-info-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}
.contact-info__text {
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
}
.contact-info_poi {
    position: relative;
    width: 293px;
    padding-top: 52px;
}
.contact-info_poi::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: 0;
    left: calc(50% - 20px);
    background: url(./img/poi-blue.svg) center no-repeat;
}
.contact-info_phone {
    position: relative;
    width: 117px;
    padding-top: 54px;
}
.contact-info_phone::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: 0;
    left: calc(50% - 20px);
    background: url(./img/phone-blue.svg) center no-repeat;
}
.contact-info_letter {
    position: relative;
    width: 225px;
    padding-top: 42px;
}
.contact-info_letter::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: 0;
    left: calc(50% - 20px);
    background: url(./img/letter-blue.svg) center no-repeat;
}
.contact-map {
    width: 516px;
    height: 323px;
    margin: 70px auto;
    border: 1px solid #dddddd;
}
.contact-social {
    margin-left: 9px;
}
.contact-social__link {
    display: inline-block;
    margin-right: 16px;
}
/* 
Footer 
*/
.footer-section {
    background-color: #252B42;
    padding-top: 150px;
    padding-bottom: 150px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 990px;
    margin: 0 auto;
}
.footer-nav-wrapper {
    width: 550px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
}
.footer-nav__title {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 12px;
    margin-bottom: 17px;
}
.footer-nav__item {
    margin-bottom: 9px;
}
.footer-nav__link {
    font-size: 15px;
    line-height: 1.8;
    color: #ffffff;
}
.footer-info-wrapper {
    text-align: left;
    margin-right: 13px;
}
.footer-info__link {
    display: block;
}
.footer-info__link_poi {
    position: relative;
    padding-left: 56px;
    padding-bottom: 10px;
    background-size: 46px 46px;
    margin-bottom: 20px;
}
.footer-info__link_poi::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url(./img/poi.svg) center no-repeat;

}
.footer-info__link_phone {
    position: relative;
    padding-left: 46px;
    background-size: 36px 36px;
    margin-bottom: 34px;
}
.footer-info__link_phone::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url(./img/phone.svg) center no-repeat;

}
.footer-info__text {
    display: inline-block;
    font-size: 15px;
    line-height: 1.8;
    color: #ffffff;
}
.footer-social {
    display: flex;
    gap: 24px;
}
/* 
Mobile  
*/
@media only screen and (max-width: 1024px) {
    .social {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .top-panel {
        display: inline-flex;
        align-items: center;
    }
    .topmenu {
        display: block;
        position: fixed;
        height: 100vh;
        z-index: 100;
        color: #fff;
        background-color: rgb(0, 0, 0, 0.8);
        width: 100vw;
        height: calc(100hw + 78px);
        padding: 16px;
        transition: margin-left 0.8s ease-in;
    }
    .topmenu.hide {
        margin-left: -100%;
    }
    .topmenu__item {
        display: block;
        margin-bottom: 20px;
    }
    .container {
        max-width: none;
        margin: 0 auto;
        padding: 0 16px;
    }
    .banner-wrapper {
        padding-top: 0;
        margin-top: -84px;
        background: url(img/banner-bg-mobile.png) no-repeat bottom;
        background-size: cover;
        margin-bottom: 110px;
    }
    .header {
        display: none;
    }
    .header__logo {
        margin: 0;
    }
    .banner-section {
        padding-top: 202px;
    }
    .banner-section__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 1.1;
        padding: 0 26px;
        margin-bottom: 27px;
    }
    .banner__text {
        padding: 0 60px;
        margin-bottom: 70px;
    }
    .button-primary_banner {
        margin-bottom: 248px;
    }
    .left-triangle,
    .right-triangle {
        border-bottom: 15vh solid #fff;
    }
    .features-section {
        margin-bottom: 190px;
    }
    .features__text {
        padding: 0 60px;
        margin-bottom: 60px;
    }
    .video-tutorial-mobile {
        display: block;
        position: relative;
        margin-bottom: 70px;
    }
    .video-tutorial-mobile__poster {
        border-radius: 15px;
        box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.15);    
    }
    .video-tutorial__button_mobile {
        transform: scale(0.33);
        margin-top: -96px;
    }
    .features-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 75px;
        margin-bottom: 0;
    }
    .video-tutorial {
        display: none;
    }
    .fastest-section {
        margin-bottom: 167px;
    }
    .fastest-wrapper {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 65px;
        margin: 0 auto;
    }
    .fastest {
        margin: 0 auto;
    }
    .fastest-section__title {
        display: inline-block;
        margin-bottom: 27px;
    }
    .fastest__text {
        padding: 0 60px;
        margin-bottom: 70px;
    }
    .fastest__img {
        width: calc(100%);
        height: 212px;
        background: url(img/fastest-mobile.png) center no-repeat;
        background-size: contain;
    }    
    .newsletter-section {
        margin-bottom: 175px;
    }
    .newsletter {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
    }
    .newsletter-inner-top {
        order: 1;
    }
    .newsletter__img {
        order: 2;
    }
    .newsletter-inner-bottom {
        order: 3;
    }
    .newsletter-subtitle_top {
        text-align: center;
        margin-top: 0;
        margin-bottom: 17px;
    }
    .newsletter-section__title {
        text-align: center;
        display: inline-block;
        margin-bottom: 90px;
    }
    .newsletter__img {
        width: calc(100%);
        height: 295px;
        background: url(img/newsletter-mobile.png) center no-repeat;
        background-size: contain;
        margin-bottom: 90px;
    }
    .newsletter-subtitle_center {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .newsletter__text {
        margin-left: 0;
    }
    .newsletter-form {
        max-width: 353px;
        margin: 34px auto 0;
    }
    .newsletter-form__input,
    .newsletter-form__button {
        width: calc(100%);
        display: block;
        margin: 0 auto;
    }
    .newsletter-form__input {
        margin-bottom: 12px;
    }
    .partners-section {
        margin-bottom: 150px;
    }
    .partners__text {
        padding: 0 60px;
        margin-bottom: 100px;
    }
    .partners-card-wrapper {
        gap: 30px;
        margin-bottom: 100px;
    }
    .partners-card:nth-child(n + 4) {
        display: none;
    }
    .testimonials-section__title {
        margin-bottom: 105px;
    }
    .testimonials__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.17px;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 53px;
    }
    .testimonials-card__img-wrapper {
        width: 42px;
        height: 42px;
    }
    .testimonials-card__text {
        font-size: 13px;
        width: 108px;
    }
    .pricing-section {
        padding-top: 120px;
        padding-bottom: 118px;
        margin-bottom: 160px;
    }
    .pricing__text {
        width: auto;
        padding: 0 60px;
        margin-bottom: 108px;
    }
    .pricing-card-wrapper {
        flex-direction: column;
        max-width: 335px;
        gap: 50px;
    }
    .contact-section {
        margin-bottom: 150px;
    }
    .contact-section__text {
        padding: 0 60px;
        margin-bottom: 70px;
    }
    .contact-wrapper {
        flex-direction: column;
        gap: 80px;
    }
    .contact-map {
        display: none;
    }
    .contact-info-inner {
        flex-direction: column;
        align-items: start;
        order: 2;
        gap: 25px;
        padding: 0 18px;
    }
    .contact-info__text {
        text-align: left;
    }
    .contact-info_poi,
    .contact-info_phone,
    .contact-info_letter  {
        width: auto;
        padding-top: 0px;
        padding-left: 46px;
    }
    .contact-info_poi::before,
    .contact-info_phone::before,
    .contact-info_letter::before {
        left: 0;
    }
    .contact-form {
        order: 3;
        max-width: 358px;
        margin: 0 auto;
    }
    .contact-info__icon {
        margin-bottom: 0;
    }
    .contact-info-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .contact-social {
        order: 1;
        margin-left: 0;
        margin-bottom: 88px;
        text-align: center;
    }
    .footer-section {
        padding-top: 117px;
        padding-bottom: 127px;
    }
    .footer-wrapper {
        flex-direction: column;
    }
    .footer-nav-wrapper {
        flex-direction: column;
        width: auto;
        text-align: center;
        gap: 83px;
        margin-bottom: 75px;
    }
    .footer-info__link {
        margin-left: 51px;
    }
    .footer-social {
        justify-content: center;
    }
}